<div class="homenew">
    <div class="row homenew-row-left">
        <div class="col-md-4 personprofile">
            <h5>{{dashboarddata.pagecontentlefttitle}} &nbsp;&nbsp;&nbsp;<span class="pull-right">{{dashboarddata.pagecontentlefttitleearn}} <sup>$</sup>{{dashboarddata.personearn}}</span></h5>
            <div class="progress progressbarsection">
              <div class="progress-bar" role="progressbar" aria-valuenow="10"
              aria-valuemin="0" aria-valuemax="10" style="width:10%">
              </div>
            </div>
            <h6 class="progressbarlabel">{{dashboarddata.profileprogresslabel}} {{dashboarddata.profileprogressvalue}}%</h6>
        </div>
        <div class="col-md-8">
            <div class="row homerighttop-row">
                <div class="col-md-12 homerighttop pull-right" style="background-image:url(..{{dashboarddata.pagerightimage}})">
                    <div class="col-md-12">
                            
                        <h5 class="pull-right">
                                {{dashboarddata.pagerighttitle}}
                        </h5>
                    </div>
                    <div class="featuredlogo">
                        <img src="{{dashboarddata.pagerightlogo}}" /><span class="companyname">{{dashboarddata.pagerightcompany}}</span>
                        <h4>{{dashboarddata.pagerightlogocaption}}</h4>
                    </div>
                    <div class="featuredbtnsection">
                        <p class="buttonSectionDescription">{{dashboarddata.pagerightdescription}}</p>

                        <div class="btn-group">
                            <button class="btn custom-app-btn btn-default">{{dashboarddata.pagerightbuttonlabel}}</button>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row homerightbottom-row">
                <div>
                    <h5 style="text-align: left;">{{dashboarddata.pagebottomtitle}}</h5>
                </div>
                <div>
                    <h5 style="text-align: right;">{{dashboarddata.pagebottomfilter}}</h5>
                </div>
                <div class="col-md-6 homerightbottomleft-row">

                    <div class="homerightbottomleft" style="background-image:url(..{{dashboarddata.pagebottomimagefirst}})">
                        <div class="brandsection">
                            <h1>{{dashboarddata.pagebottombrandfirst}}</h1>
                            <p class="buttonSectionDescription">{{dashboarddata.pagebottombuttondescription}}</p>
                        </div>
                        <div>
                            <div class="btn-group">
                                <button class="btn custom-app-btn btn-default">{{dashboarddata.pagebottombuttonlabel}}</button>
                            </div>
                        
                        </div>
                    </div>
                </div>

                <div class="col-md-6 homerightbottomright-row">
                    <div class="homerightbottomright" style="background-image:url(..{{dashboarddata.pagebottomimagesecond}})">
                    <div class="brandsection">
                        <h1>{{dashboarddata.pagebottombrandsecond}}</h1>
                        <p class="buttonSectionDescription">{{dashboarddata.pagebottombuttonbranddescription}}</p>
                    </div>
                    <div>
                        <div class="btn-group">
                            <button class="btn custom-app-btn btn-default">{{dashboarddata.pagebottombuttonbrandlabel}}</button>
                        </div>
                        
                    </div>
                    </div>
                </div>
            
        </div>
    </div>

</div>
